runs
images
cache/
detections
temp.*
*.pyc
*.pt
*.mp4
*.jpg
*.png
*.zarr
*.txt
*.pyc
*.hdfs
*.hdf5
*.nc
*.pdf
*.html
*.xml
*.json
*.joblib
anomalies/plots/*
labelStudio/output/*
labelStudio/input/*
nn_segmentation/models/training/*
!nn_segmentation/models/training/README.md
backup_class_merge_*/
papers/*
text/